* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgba(10, 10, 10, 0.10);
	z-index: 2;
}

header {
	background-color: #24272E;
	padding: 20px;
}

header > span {
	color: #afd9cd;
	text-align: left;
	margin-top: 20px;
	margin-left: 15px;
	margin-right: 20px;
	font-size: 25px;
	font-family:'Segoe UI',Helvetica,Arial,Sans-Serif;
}

.tab {
	background: #24272E;
	padding: 4px 10px;
	border: 2px solid #afd9cd;
	border-radius: 3px;
	text-align: center;
	color: #afd9cd;
	font-size: 18px;
	font-family:'Segoe UI',Helvetica,Arial,Sans-Serif;
	position: relative;
	transition: all 0.3s ease;
	box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.tab:hover {
	cursor:	 pointer;
	background: #3b3f4a;
	box-shadow: 0 6px 6px 0 rgba(0,0,0,0.69), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.controls {
	border: 2px solid #afd9cd;
	border-radius: 3px;
	background: #32353d;
	width: 400px;
	height: 150px;
	margin-top: 35px;
	margin-right: 900px;
	margin-left: 35px;
	margin-bottom: 10px;
	position: absolute;
	z-index: 1;
}

#myMap {
	width: window.innerWidth;
	height: window.innerHeight;
	z-index: 0;
}

.dirBtn{
	width: 100px;
	height: 50px;
	border: 2px solid #afd9cd;
	border-radius: 3px;
	text-align: center;
	background: #24272E;
	color: #afd9cd;
	font-family:'Segoe UI',Helvetica,Arial,Sans-Serif;
	padding: 10px;
	transition: all 0.3s ease;
}

.dirBtn:hover {
	background: #3b3f4a;
	cursor: pointer;
}

#Forward {
	position: absolute;
	left: 150px;
	top: 10px;
}

#Backwards {
	position: absolute;
	left: 150px;
	top: 80px;
}

#Left {
	position: absolute;
	left: 20px;
	top: 80px;
}

#Right {
	position: absolute;
	right: 20px;
	top: 80px;
}